extends ../../layouts/defaut.pug
include ../../mixins/alert.pug
block main
  +alertpug-error(5000)
  +alertpug-success(5000)
  h1.mb-4 Chỉnh sửa sản phẩm
    //enctype de co the upload anh bang thu vien multer
  form(action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`, 
    method="POST", 
    id="form-edit-product",
    enctype="multipart/form-data") 
    // Tiêu đề
    .form-group.mb-3
      label(for="title") Tiêu đề
      input#title.form-control(type="text", name="title", required,value=product.title)

    // Mô tả textarea khong value ma truyen o ngoai
    .form-group.mb-3
      label(for="desc") Mô tả
      textarea#desc.form-control(name="description", rows="5") #{product.description}

    // Giá
    .form-group.mb-3
      label(for="price") Giá
      input#price.form-control(type="number", name="price", value=product.price, min="0")

    // % Giảm giá
    .form-group.mb-3
      label(for="discount") % Giảm giá
      input#discount.form-control(type="number", name="discountPercentage", value=product.discountPercentage, min="0")

    // Số lượng
    .form-group.mb-3
      label(for="quantity") Số lượng
      input#quantity.form-control(type="number", name="stock", value=product.stock, min="0", step="any")

    // Ảnh     
    .form-group.mb-3(upload-image)
      label(for="thumbnail") Ảnh
      input#thumbnail.form-control-file(type="file", name="thumbnail",accept="image/*",upload-image-input)
      .preview-container
        .image-wrapper      
          img#preview-image(src= product.thumbnail, upload-image-preview)
          button#remove-image-btn(type="button") X

    .form-group.mb-3
      label(for="position") Vị trí 
      input#position.form-control(type="number", name="position",value=product.position, placeholder="Để trống để tự động tăng")

    // Trạng thái
    .form-group.mb-3
      label Trạng thái
      .form-check.form-check-inline
        input#status-active.form-check-input(type="radio", name="status", value="active", checked=(product.status == "active" ? true : false))
        label.form-check-label(for="status-active") Hoạt động
      .form-check.form-check-inline
        input#status-inactive.form-check-input(type="radio", name="status", value="inactive",checked=(product.status == "inactive" ? true : false))
        label.form-check-label(for="status-inactive") Dừng hoạt động

    // Nút lưu
    button.btn.btn-primary(type="submit") Cập nhật 
   
