.sidebar
  .inner-logo
    h4.text-white.text-center.mt-3 ADMIN
  ul.nav.flex-column.mt-4
    li.nav-item
      a.nav-link.text-white(href=`${prefixAdmin}/dashboard`) Trang tổng quan
    li.nav-item
      a.nav-link.text-white(href=`${prefixAdmin}/products`) Quản lý sản phẩm
    li.nav-item
      a.nav-link.text-white(href=`${prefixAdmin}/products/create`) Thêm mới sản phẩm
    li.nav-item
      a.nav-link.text-white(href=`${prefixAdmin}/users`) Quản lý tài khoản
    li.nav-item
      a.nav-link.text-white(href=`${prefixAdmin}/orders`) Quản lý đơn hàng
